* {
    bg-col:  #2e3440;
    bg-col-light: #3b4252;
    border-col: #4c566a;
    selected-col: #434c5e;
    blue: #5e81ac;
    fg-col: #eceff4;
    fg-col2: #E5e9f0;
    grey: #d8dee9;
    width: 600;
}
