* {
	font-family: JetBrainsMono, Symbols Nerd Font;
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

@define-color bg #2e3440;
@define-color bg2 #E0E0E0;
@define-color fg #eceff4;
@define-color pink #b48ead;
@define-color green #a3be8c;
@define-color fl #f2cdcd;
@define-color blue #5e81ac;
@define-color red #bf616a;
@define-color vl #cba6f7;
@define-color yellow #ebcb8b;


window#waybar {
	border-radius: 20;
	background-color: rgba(46,52,64,0.75);
}



#custom-menu {
	padding: 2 15;
	margin: 5 5 5 10;
	color: @vl;
	background-color: @bg2;
	border: none;
	border-radius: 20;
}
#custom-menu:hover {
	color: @fl;
}


#workspaces {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}
button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px transparent;
}
#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @gf;
}
#workspaces button:hover {
	color: @yellow;
}
#workspaces button.focused {
}
#workspaces button.urgent {
}

#window {
	padding: 2 15;
	margin: 5;
	color: @yellow;
	border: none;
	border-radius: 20;
}



#custom-cmus,
#custom-weather {
	padding: 2 10;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}
#custom-cmus:hover {
	color: @yellow;
}

#custom-foot {
	padding: 2 10 2 15;
	margin: 5 0 5 5;
	color: @fg;
	border: none;
	border-radius: 20 0 0 20;
}
#custom-foot:hover {
	color: @yellow;
}

#custom-nemo {
	padding: 2 15 2 10;
	margin: 5 5 5 0;
	color: @fg;
	border: none;
	border-radius: 0 20 20 0;
}
#custom-nemo:hover {
	color: @yellow;
}



#tray {
	padding: 2 15;
	margin: 5;
	border: none;
	border-radius: 20;
}

#language {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}
#language:hover {
	color: @yellow;
}

#pulseaudio {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}
#backlight {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}
#pulseaudio.muted {
	color: @red;
}
#pulseaudio:hover {
	color: @yellow;
}

#battery {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}

#temperature {
	padding: 2 10;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}

#bluetooth {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}

#network {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}


#clock {
	padding: 2 15;
	margin: 5;
	color: @fg;
	border: none;
	border-radius: 20;
}
#clock:hover {
	color: @yellow;
}

#custom-power {
	padding: 2 15;
	margin: 5 10 5 5;
	color: @red;
	border: none;
	border-radius: 20;
}
#custom-power:hover {
	color: @fg;
}

tooltip {
	background: @bg;
	margin: 20px;
	padding: 15px;
	border: 20px solid rgba(100, 114, 125, 0);
	border-radius: 10px;
}
